@import url('https://fonts.googleapis.com/css?family=Pacifico');

img {
    -webkit-filter: blur(2px);
   }

.header-text {
    position: absolute;
    top: 50%;
    left: 40%;
    font-family: 'Pacifico', cursive;
}